.features__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  max-width: 1160px;
  margin: 0 auto;
}

.features__wrapper h2 {
  font-family: $font;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: $tangaroa;
  text-align: center;
}

.features__wrapper {
    background-image: url("../../img/features.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 562px;
    padding-top: 120px;
    padding-bottom: 120px;

    @media (max-width: $vp-1023) {
        padding-left: 45px;
        padding-right: 45px;
      }
    
      @media (max-width: $vp-767) {
      }
}

.features__item p {
  font-family: $font;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  margin: 0;
}

.features__item h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $tangaroa;
  font-family: $font;
  margin: 0;
  margin-bottom: 20px;
}

.features__item {
    background-color: $alice-blue;
    padding: 30px;
}

.features__item svg {
    margin-bottom: 25px;
}